html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0 4rem;
}

.logo {
  font-weight: 800;
  font-size: 36px;
  line-height: 110%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.menu {
  display: flex;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  align-items: center;
}

.menu-item {
  margin-left: 1rem;
}

.cta {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  background-color: black;
  color: white;
  padding: 0.8rem 1.5rem;
}

.intro {
  width: 45rem;
  margin-bottom: 4rem;
}

.intro-header {
  font-weight: 800;
  font-size: 55px;
  line-height: 60px;
}

.intro-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.intro-cta {
  padding: 1.5rem 2rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  font-family: "Poppins", "sans-serif";
  text-align: center;
}

.intro-container {
  height: 85vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.graphic {
  align-self: flex-start;
}

svg {
  margin-top: 0rem;
  width: 40rem;
}

.secondary {
  color: black;
  background-color: white;
  margin-top: 0.5rem;
  display: none;
}

.content-header {
  font-weight: 800;
  font-size: 44px;
  margin-bottom: 2rem;
}

.content {
  width: 58rem;
  margin-top: 2rem;
}

.content-text {
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 0 1.5rem;
    max-width: 500px;
  }

  .intro-container {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 90vh;
  }

  .intro {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0px;
  }

  .intro-p {
    font-size: 16px;
    line-height: 22px;
  }

  .intro-cta {
    width: 100%;
    font-size: 18px;
    padding: 1rem 2rem;
  }

  .intro-header {
    font-size: 32px;
    line-height: 38px;
    padding-top: 2rem;
  }

  .menu {
    display: none;
  }

  .header {
    height: 10vh;
  }

  svg {
    margin-top: 0;
    width: 20rem;
  }
  .graphic {
    width: 100%;
    max-width: 400px;
  }
  .secondary {
    display: block;
  }
  .content {
    width: 100%;
  }
}

@media only screen and (max-width: 1300px) {
  svg {
    width: 30rem;
  }
}
